body{
    background-color: #ADD8E6;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    text-align: center;
    color: firebrick;
    display: block;
}
.paragrafo{
    font-size: 1.5rem;
    text-align: justify;
}
.lista{
    list-style: circle;
    padding: 0;
    margin: 1;
    display: block;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: fit-content;
    font-size: 1.2rem;
}
.lista li{
    margin: 1rem;
}
#RL{
    width: 7rem;
    display: block;
    border-radius: 1rem;
    text-align: center;
    margin: 0.0625rem auto;
    margin-bottom: 1rem auto;
}
.paises{
    width: fit-content;
    padding: 1rem;
}

table {
    border: 0.13125rem solid black;
    border-collapse: collapse;
    width: fit-content;
    margin: 1rem auto;
    text-align: center;
}
table caption {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}
#pais {
    width: 13rem;
}
th, td {
    width: fit-content;
    border: 0.13125rem solid black;
    padding: 0.3rem;
    text-align: center;
}
th {
    background-color: #76c6e0;
    text-align: center;
}
#Steam {
    color: rgb(107, 10, 10);
    text-decoration: dotted;
    font-weight: bold;
    padding: 1rem;
    width: 1rem auto;
    text-align: center;
    display: block;
}
#Steam:hover {
    color: blue;
}
button{
    width: fit-content;
    padding: 1rem ;
    border: 0.0625rem solid black;
    border-radius: 0.5rem;
    background-color: #76c6e0;
    text-align: center;
    display: block;
    color: black;
    font-weight: bolder;
    margin: 1rem auto;
}
#EE1, #EE2, #EE3, #EE4 {
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    color: black;
}
.saudacao {
    font-size: 1.1rem;
    width: fit-content;
    padding: 2rem;
}